[Desktop Entry]
Name=TeXMathEd
GenericName=Latex Math mode Edit/priview
Exec=sh -c 'exec ~/.local/bin/TexMathEd/LatexMathEditor.py'
Terminal=false
Icon=TexMathEd
Type=Application
Categories=Editor
